<html>
<head>
    <title>Debugging Interface</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='screen.css') }}">
</head>

<script>

    function send_color_update(colorpicker, color) {
        color_obj = hexToRgb(color);
        console.log(colorpicker);
        color = [color_obj.b, color_obj.g, color_obj.r];
        console.log("Pressed: " + colorpicker + " with color:" + color);
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                // alert(xhr.responseText);
            }
        }
        // XMLHttpRequest
        xhr.open("POST", "/color");
        xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        xhr.send(JSON.stringify({ColorPicker: colorpicker, Color: color}));
    };

    function hexToRgb(hex) {
        // Expand shorthand form (e.g. "03F") to full form (e.g. "0033FF")
        var shorthandRegex = /^#?([a-f\d])([a-f\d])([a-f\d])$/i;
        hex = hex.replace(shorthandRegex, function (m, r, g, b) {
            return r + r + g + g + b + b;
        });

        var result = /^#?([a-f\d]{2})([a-f\d]{2})([a-f\d]{2})$/i.exec(hex);
        return result ? {
            r: parseInt(result[1], 16),
            g: parseInt(result[2], 16),
            b: parseInt(result[3], 16)
        } : null;
    }


</script>
<style>
    .switch {
        position: relative;
        display: inherit;
        width: 60px;
        height: 34px;
    }

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked + .slider {
        background-color: #2196F3;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

    .slider.round:before {
        border-radius: 50%;
    }
</style>
<body>
<div class="c-page">
    <section class="o-row o-row-lg o-row--neutral-x-light">
        <div class="o-section o-section--lg">
            <div class="o-layout--align-center">
                <h1 class="o-layout__item">Debugging Tool</h1>
            </div>
            <div class="o-layout o-layout--gutter-lg o-layout--align-center">
                <div class="o-layout__item u-1-of-2-bp3">
                    <img id="video" src="{{ url_for('video_viewer') }}">
                    <div id="Recorder">
                        <button id="reboot">Reboot</button>
                        <button id="shutdown">Shutdown</button>
                    </div>
                </div>
                <div id="Controlls" class="o-layout__item u-1-of-2-bp3">
                    <div class="o-layout">
                        <div class="o-layout__item">
                            <div id="div_videostat" class="u-mb-lg">
                                <div style="display:flex;width:400px;justify-content: space-between;">
                                    <h2>Video Stats</h2>
                                    <label class="switch">
                                        <input type="checkbox" id="Videostats">
                                        <span class="slider round"></span>
                                    </label>
                                </div>
                                <div style="display:none;width:200px;justify-content: space-between;">
                                    <h3>Font color </h3>
                                    <input type="color" id="VideoStatsFgColor"
                                           onchange="send_color_update(this.id,this.value);">
                                </div>
                                <div style="display:none;width:200px;justify-content: space-between;">
                                    <h3>Back color </h3>
                                    <input type="color" id="VideoStatsBgColor"
                                           onchange="send_color_update(this.id,this.value);">
                                </div>
                            </div>
                            <div id="div_bbox" class="u-mb-lg">
                                <div style="display:flex;width:400px;justify-content: space-between;">
                                    <h2>Bounding Box</h2>
                                    <label class="switch">
                                        <input type="checkbox" id="Bbox">
                                        <span class="slider round"></span>
                                    </label>
                                </div>
                                <div style="display:flex;width:200px;justify-content: space-between;">
                                    <h3>Color </h3>
                                    <input type="color" id="BboxColor" value="#ff0000"
                                           onchange="send_color_update(this.id,this.value);">
                                </div>

                            </div>
                            <div id="div_accuracy" class="u-mb-lg" style="display:none">
                                <div style="display:flex;width:400px;justify-content: space-between;">
                                    <h2>Accuracy</h2>
                                    <label class="switch" id="Accuracy">
                                        <input type="checkbox">
                                        <span class="slider round"></span>
                                    </label>
                                </div>
                                <div style="display:flex;width:200px;justify-content: space-between;">
                                    <h3>Color </h3>
                                    <input type="color"  id="AccuracyColor"
                                           onchange="send_color_update(this.id,this.value);">
                                </div>
                            </div>
                            <div id="div_crossing" class="u-mb-lg">
                                <div style="display:flex;width:400px;justify-content: space-between;">
                                    <h2>Crossing</h2>
                                    <label class="switch">
                                        <input type="checkbox" id="Crossing">
                                        <span class="slider round"></span>
                                    </label>
                                </div>
                                <div style="display:flex;width:200px;justify-content: space-between;">
                                    <h3>Color </h3>
                                    <input type="color" id="CrossingColor" value="#00ffff"
                                           onchange="send_color_update(this.id,this.value);">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
<script type="text/javascript" src="{{ url_for('static', filename='backend.js') }}"></script>
</html>